.hidden {
  display: none;
}

html {
  height: 100%;
}

body {
  background-image: url("assets/burger-friends.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.topNav {
  background-color: #0fb9b1;
  height: 30px;
  max-width: 100%;
  border: 0;
  padding 5;
}

.header {
  font-weight: 300;
  font-size: 16px;
  padding: 8px 27px;
  font-weight: bold;
}

/*-----------POPUP-----------*/
.container {
  background-color: rgba(225, 225, 225, 3.9);
  width: 450px;
  padding: 25px 100px;
  position: absolute;
  z-index: 1;
  transform: translate(-50%, 50%);
  left: 50%;
  top: 10%;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  justify-content: center;
}

.logInButton {
  font-family: 'Roboto', sans-serif;
  display: block;
  margin: 8 8 20px auto;
  background-color: #0fb9b1;
  font-size: 18px;
  color: black;
  border-radius: 5px 5px;
  border-width: thin;
}

.popUp p {
  font-size: 15px;
  text-align: center;
  margin: 20px 0;
}

/*-------Boxes--------*/
.main-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.choice-box span {
  color: #ee5253
}

.choice-box,
.view-food-box {
  display: flex;
  margin: 7%;
  height: 200px;
  width: 400px;
  background-color: rgba(225, 225, 225, .9);
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 5%;
  position: relative;
}

.view-food-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cook-pot-img {
  max-width: 40%;
  padding:
}

.lets-cook-button {
  background-color: #0fb9b1;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-weight: 100;
  border-width: thin;
  width: 125px;
  height: 25px;
  border-radius: 5px 5px;
  margin: 26px 2px;
}

.view-food {
  align-content: center;
  width: 93px;
  height: 192px;
  padding: 5px 100px;
  background-color: rgba(225, 225, 225, .9);
}

font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253
